################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TaskJournal.BA/.vs/TaskJournal.BA/DesignTimeBuild
/TaskJournal.BA/.vs/TaskJournal.BA/v16
/.vs
/TaskJournal.BA/TaskJournal.BA/obj
/TaskJournal.BA/TaskJournal.BA/bin/Debug/net5.0
