################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TaskJournal.BA/.vs/TaskJournal.BA/DesignTimeBuild
